
.table-container { 
    overflow-x: auto; 
    padding: 16px; 
}

#titleOperadora{
    width: 100%;
    margin: 25px 5%;
}

table { 
    width: 100%; 
    min-width: 600px; 
}

.btnTable{
    font-size: 15pt;
    transition: .1s;
    cursor: pointer;
}
.btnTable:hover{
    font-size: 17pt;
}

.editar{
    color: #3f51b5;
}

.eliminar{
    margin: 0 0 0 5px;
    color: #e55151;
}