

#contentCards{
    width: 100%;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
}

.contentCard{
    width: 100%;
    padding: 25px;
    border: 1px solid #edecec;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: .5px .5px 8px #cdcdcd;
}

.title{
    font-size: 14pt;
    color: #615c5c;
    margin: 0 5px 0 0;
}


@media (max-width: 768px){

    #contentCards{
        flex-direction: column;
    }

    .contentCard{
        margin-top: 10px;
    }

}
